@using GameStore.Shared.States
@using GameStore.Shared.Components
@inherits LayoutComponentBase
@inject AuthState AuthState

@if (AuthState.Client is null)
{
    <RedirectToLogin/>
}
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>