@using GameStore.Shared.Components
@using GameStore.Shared.States
@inject LoadingState LoadingState

<PageTitle>@Title</PageTitle>
<h2>@Title</h2>
@if (LoadingState.IsLoading)
{
    <Loading/>
}
else
{
    @ChildContent
}