@page "/Client"
@using GameStore.Shared.Components
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<PageView Title="Client">
    <ClientList>
        <NullClientList>
            <Loading/>
        </NullClientList>
        <EmptyClientList>
            <br/>
            <span>No clients to display</span>
        </EmptyClientList>
    </ClientList>    
</PageView>
