@using GameStore.Shared.Navigation
@attribute [Route(PageRoute.Error)]
@layout EmptyLayout

<h3>Oops... There are some problems on our side, please try again later</h3>
<NavLink class="nav-link" href="Game">
    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Game
</NavLink>