@typeparam TItem
<div>
    @ActionHeader
</div>
<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
    <tr>
        @Header
    </tr>
    </thead>
    <tbody>
    @if (Items is not null)
    {
        @foreach (var item in Items)
        {
            <tr>
                @Row(item)
            </tr>
        }
    }
    </tbody>
    <tfoot>
    <tr>@Footer</tr>
    </tfoot>
</table>